*{
    margin: 0%;
    padding: 0%;
}
.main{
    height: 600px;
    width: 350px;
    border-style: dotted;
    border-color: white;
    margin: auto;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.parent{
    height: 300px;
    width: 350px;
    background-image: url(https://www.wsupercars.com/wp-content/uploads/2024-Lotus-Theory-1-Concept-005.jpg);
    background-repeat: no-repeat;
    border-radius: 5%;
    background-size: 100% 100%;
}
.child{
    height: 300px;
    width: 350px;
    margin-top: 5%;
    margin-left: 4%;
}
.box{
    display: inline-block;
    background: linear-gradient(to right, rgb(57, 82, 225), rgb(29, 43, 147));
    border-radius: 25px;
    color: white;
    padding: 2% 3% ;
}
.para{
    margin-top: 10%;
    font-size: large;
    font-weight: bolder;
}
.para1{
    margin-top: 10%;
    font-size: large;
    font-weight: lighter;
    margin-right: 10%;
}
.car{
    margin-top: 10%;
    border-radius: 100%;
    height: 15%;
}
h3{
    margin-top: -30px;
    margin-left: 60px;
}